#createForm {
    background: white;

}

#backgroundOverlay {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: lightgrey;
    opacity: 35%;
    z-index: -99;
}

#backgroundImg {
    opacity: 30%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 96px;
    left: 0;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: auto !important;
    z-index: -100;
}
.imgContain {
    box-shadow: 0px 0px 10px 5px lightgrey;
    width: 25vw;
    height: calc(25vw * 1.5);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    box-shadow: 0px 8px 10px 5px lightgrey;
}
.card-header{
    font-weight: 300;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px 5px lightgrey;
}
.card {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid transparent;
    box-shadow: 0px 0px 3px 2px lightgrey;
}
